.brand-logo {
  margin-left: 1em;

}
nav .brand-logo{
  color: black;
}

nav {
  background-color: white;
}

nav ul a {
  color: black;
}

#show {
  width: 500px;
  margin-bottom: 1em;
  margin: 0 auto;
}
