.brand-logo {
  margin-left: 1em;

}
nav .brand-logo{
  color: black;
}

nav {
  background-color: white;
}

nav ul a {
  color: black;
}

.show {
  width: 40.125rem;
  margin-bottom: 1em;

  margin: 0 auto;
}
#answerButton {
  float: right;
  /*margin-right: 20px;
  margin-top: 5px;*/
  margin-bottom: .5em;
}
#boxes {
  margin-bottom: 1em;
}
.edit {
  width: 30rem;
}
