<div class='ui vertically divided three column grid' ng-init='AskFactory.getQuestions()'>
  <div class='row'>
    <div class='column' ng-repeat='question in AskFactory.questionData'>
      <div class="item">
        <div class="image">
          <img src="http://placehold.it/300x200" alt="placeholder" />
        </div>
        <div class="middle aligned content">
          <span class="ui large red label">Q</span> <span>{{ question.text }}</span>
        </div>
      </div>
    </div>
</div>
</div>
