<div class='ui three column grid'>
  <div class='row'>


  <div class='column'>
    <img src="http://placehold.it/300x300" alt="placeholder" />
    <p>
      light bulb, from exterior light, to a bathroom 40 watt bulb to the candle light bulbs on a ceiling fan? Also, can a handyman change a flapper on a toilet and replace a flush handle? Can a handyman use a plastic zip cleaner to unclog a sink that a customer believes is just hair a few inches down the sink drain? Can a handyman install wireless (under kitchen counter mount 2 way tape-battery operated) lighting? What about solar powered lighting for walkways that require no hard wiring, just a plug into an outlet? Can a handyman remove and replace a wall plate? Can a handyman perform small electrical work that just plug? And I'm asking concerning the state of Texas....many of electricians and plumbers refuse these jobs, so I was wonder if a handyman can get the job done? I'm looking to start a handyman service and I want to be in the know......thanks a bunch!

      Read more: http://www.redbeacon.com/experts/question/hello-i-d-like-know-handyman#ixzz3knGQdNSR
    </p>
  </div>

  <div class='column'>
    <img src="http://placehold.it/300x300" alt="placeholder" />
  </div>

  <div class='column'>
    <img src="http://placehold.it/300x300" alt="placeholder" />
  </div>
</div>
</div>
