
<div class='ui raised segment' ng-repeat='question in questionData'  id='show'>
  <div class='ui checkbox'>
    <input type="checkbox" >
    <label>Update question</label>
  </div>
  <div class='ui checkbox'>
    <input type="checkbox" ng-click="AskFactory.deleteQuestion(question.id)">
    <label>Delete question</label>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://placehold.it/400x300" alt="placeholder" />
    </div>
    <div class="middle aligned content">
      <span class="ui large red label">Q</span> <span>{{ question.text }}</span>
    </div>
  </div>
</div>
